<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>发起活动状态</title>
	<style>
			div {
			background-color: #4CAF50;
			padding: 10px;
		}

		div.first {
			opacity: 0.4;
			filter: alpha(opacity=10); /* For IE8 and earlier */
		}

		div.second {
			opacity: 0.6;
			filter: alpha(opacity=30); /* For IE8 and earlier */
		}

		div.third {
			opacity: 0.8;
			filter: alpha(opacity=60); /* For IE8 and earlier */
		}
		p {
			color: blue;
		}
</style>
</head>
<body>
	<div class="first"><p>${msg }</p></div>
	<div class="second"><p>
	${code } （1.成功 0.失败）</p></div>
	<div class="third"><p><a href="/activity/list">活动列表页</a></p></div>

</body>
</html>